{% extends 'base.html' %}

{% block content %}

{% if songs.count > 0 %}
<table class="ui celled striped table">
    <thead>
    <tr>
        <th colspan="3">
            Dat Shiro Store Music
        </th>
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
    <tr>
        <td class="collapsing">
            <i class="dollar icon"></i> {{ song.price }}
        </td>
        <td>
            <i class="music icon"></i>{{ song.name }} -  {{ song.author }}
        </td>
        <td>
            <audio controls>
                <source src="https://docs.google.com/uc?export=open&id={{ song.id }}" type="audio/mp3">
            </audio>
        </td>
        <td class="collapsing">
            <i class="cloud download icon"></i>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
